@page
@model SER.Pages.Menus.UIMaestroModel
@{
    ViewData["Title"] = "Menu maestro";
}
<h2 id="h2MenuMaestro">Menú maestro</h2>
<div class="container text-center mt-5">
    <a asp-area="" asp-page="/RegistrarSinodal" type="button" class="btn btn-primary btn-lg">Registrar sinodal</a>
    <br /><br />
    <a asp-area="" asp-page="/RegistrarDocumentoProyectoGuiado" type="button" class="btn btn-primary btn-lg">Registrar documento de proyecto guiado</a>
</div>
