@page
@model IndexModel
@{
    ViewData["Title"] = "Pagina de inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Página de inicio del sistema de experiencia recepcional</p>
    <img src="~/images/SERLogo.png" width="600"/>
</div>

